* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    }


body {
  background-color: black;
}

@font-face {
  font-family: "OpenSans-bold";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans-regular";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
}

#particles-js {
	position: fixed;
	height: 100%;
	width: 99vw;
	z-index: -50;
	background-color: rgba(0, 0, 255, 0);
}


.header {
    width: 100%;
    height: 180%;
    display: flex;
    flex-direction: column;
  }

.header_background {
  position: absolute;
  z-index: -4;
  width: 100%;
  height: 180vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}


.main_nav {
  position: fixed;
  display: flex; 
  width: 100vw;
  height: 100px;
  background-repeat: no-repeat;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F1F6FC;
  z-index: 5;
  flex-basis: auto;
}

.main_nav_one {
  position: fixed;
  display: flex; 
  width: 100vw;
  height: 100px;
  background-repeat: no-repeat;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F1F6FC;
  -webkit-box-shadow: 1px 8px 9px -5px rgba(32, 116, 229, 0.6);
  -moz-box-shadow: 1px 8px 9px -5px rgba(32, 116, 229, 0.6);
  box-shadow: 1px 8px 9px -5px rgba(32, 116, 229, 0.6);
  z-index: 5;
  flex-basis: auto;
}


.img-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 25%;
  gap: 15px;
}

.img-logo-blue {
  left: 2%;
  position: fixed;
  top: 2%;
  width: 12%;
  z-index: 27;
}

.logo_skolcovo_around {
  width: 65%;
  height: 65%;
} 

.img-logo-skolcovo {
  left: 16%;
  position: fixed;
  top: 3%;
  width: 4.5%;
  z-index: 27;
}

.nav_logo {
  position: absolute;
  display: flex;
  position: fixed;
  z-index: 20;
}

.menu-item {
  position: absolute;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  text-align: center;
  font-size: 12.5px;
  font-family: 'OpenSans-regular', sans-serif;
  gap: 15px;
  width: 40%;
  position: fixed;
  z-index: 26;
  align-self: center;
  padding-left: -50px
}


.menu-link {
  position: relative;
  text-decoration: none;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  color: #0c2e75;
  white-space:nowrap;
}

.menu-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #0c2e75;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
}

.menu-link:hover::after {
  transform: scaleX(1);
}

.menu {
  display: flex;
  padding-left: 5%;
  flex-grow: 2;
}

.mission_header {
  position: absolute;
  width: 26%;
  left: 8%;
  top: 15vw;
}

.our_principles_header {
  position: absolute;
  width: 20%;
  right: 7%;
  top: 28vw;
}

.main {
  display: flex;
  width: 100%;
  min-height: 830vw;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.background_space {
  position: absolute;
  width: 100%;
  min-height: 400vw;
  z-index: -70; 
}


.bg_avg {
  position: absolute;
  background-image: url("../svg/logo-rigintel.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 200%;
  z-index: -5;
  top: 65vw;
}

.background_blue {
    position: absolute;
    background-image: url("../svg/background.svg");
    background-size: cover;
    width: 100%;
    height: 850vw;
    z-index: -5;
}

.video_container {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.video_container_mask {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 22%;
  height: 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  top: 52vw;
  left: 60vw;
}

 /* -webkit-mask-image: url(/svg/video_mask.svg);
  -webkit-mask-position:center;
  -webkit-mask-repeat:no-repeat;
  -webkit-mask-size:contain;
  mask-position:center;
  mask-repeat:no-repeat;
  mask-size:contain;*/
  


.about_video {
  width: 100%;
  height: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%; 
  background-size: contain;
  background-repeat: no-repeat; 
  align-items: center;
  margin-top: 30vw;
}

.title_about {
  display: flex;
  flex-direction: row;
  margin-top: 53%;
}

.p_about {
  font-family: "OpenSans-regular", sans-serif;
  font-size: 1vw;
  color: #ffffff;
  line-height: 1.5vw;
  width: 40vw;
  padding-left: 5%;
  padding-top: 10%;
  text-align:justify;
  height: 40vw;
}

.target-vision-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 50%;
  right: 21%;
  top: 110vw;
  margin-left: 15%;
}


.target-vision {
  height: 23vw;
  width: 100%;
  padding-top: 20%;
}

.partners_img_title {
  background-image: url("../img/partners-title.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 22%;
  height: 22vw;
  margin-bottom: 0;
  margin-left: 60vw;
}

.partners_title {
  margin-top: 0px;
}

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
}

.partners_img {
  margin-top: 50px;
  background-image: url("../img/partners.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 99vw;
  height: 30vw;
}

h1 {
  font-family: "OpenSans-bold", sans-serif;
  font-size: 2vw;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 3vw;
}

h2 {
  font-family: "OpenSans-bold", sans-serif;
  font-size: 1.5vw;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 3vw;
}

.ul_stats {
  font-family: "OpenSans-regular", sans-serif;
  font-size: 1.1vw;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3vw;
  text-align: left;
  margin-top: 10px;
}

.stats_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2%;
  margin-left: 30%;
}

.stats_list_vsp {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 71%;
  bottom: 35%;
}


.stats_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70vw;
  margin-top: 40vw;
}


.stats_number_top_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30vw;
  margin-top: 10vw;
}

.stats_number_top_one {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 100%;
  gap: 35px;
}

.p_digit_top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 2vw;
  font-family: "OpenSans-bold", sans-serif;
  font-size: 5vw;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.5vw;
}

.p_white_top {
  display: flex;
  width: 100%;
  font-family: "OpenSans-bold", sans-serif;
  font-size: 1.2vw;
  color: #F1F6FC;
  text-transform: uppercase;
  line-height: 1.5vw;
  text-align: center;
}










.stats_img_title {
  position: absolute;
  background-image: url("../img/stats-title-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 22%;
  height: 27vw;
  top: 190vw;
  margin-left: 60vw;
}

.stats_one {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  height: 35%;
  align-items: flex-start;
  padding-top: 50px;
}

.stats_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}

.stats_two_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  height: 90%;
  width: 100%;
}

.stats_earth {
  display: flex;
  position: absolute;
  width: 31.8vw;
  justify-content: center;
  margin-left: 33.9%;
  z-index: -5;
}

.stats_map {
  display: flex;
  background-image: url("../img/map_regions.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40vw;
  height: 30vw;
  margin-bottom: 270px;
  margin-left: 150px;
  align-self: flex-start;
}

.stats_two_title {
  display: flex;
  flex-direction: row;
  width: 92vw;
  gap: 27%;
  justify-content: center;
  margin-top: -100px;
}

.stats_chart {
  background-image: url("../img/chart-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 45vw;
  height: 30vw;
  margin-right: 1vw;
  margin-top: 70px;
}

.stats_img {
  background-image: url("../img/bg-img-stats.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 74vw;
  height: 25vw;
  margin-right: 25vw;
}


.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40vh;
}

.stats_three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 33%;
  margin-top: 2vw;
}

.stats_three_wrapper {
  
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 12vw;
  margin-top: 3vw;
  margin-bottom: 7vw;
}

.stats_three_wrapper_zbs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
}


.stats_bg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10vh;
  margin-top: 50vw;
}

.stats_bg_one {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  width: 99vw;
  height: 5vw;
  margin-bottom: -4vw;
}

.stats_bg_digit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}

.p_digit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 2vw;
  font-family: "OpenSans-bold", sans-serif;
  font-size: 4vw;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.5vw;
  padding-left: 5vw;
}

.p_digit_metrika {
  display: flex;
  font-family: "OpenSans-bold", sans-serif;
  font-size: 2vw;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 1vw;
  align-self: flex-end;
}

.stats_bg_video {
  width: 100px;
  height: 100px;


}

.stats_bg_two {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 99vw;  
  height: 60vw;
  background-repeat: no-repeat;
  z-index: -5;
}

.stats_bg {
  justify-content: flex-start
}

.stats_bg_p {
  display: flex;
  width: 80%;
  margin-top: 1.5vw;
  margin-left: 5vw;
  align-items: center;
}

.p_blue {
  display: flex;
  width: 80%;
  font-family: "OpenSans-bold", sans-serif;
  font-size: 1.2vw;
  color: #025bb5;
  text-transform: uppercase;
  line-height: 1.5vw;
}

.p_white {
  display: flex;
  width: 80%;
  font-family: "OpenSans-bold", sans-serif;
  font-size: 1.2vw;
  color: #F1F6FC;
  text-transform: uppercase;
  line-height: 1.5vw;
}

.stats_img_bg_end {
  position: absolute;
  background-image: url("../svg/stats_bg_end.svg");
  background-size: cover;
  height: 65%;
  width: 100%;
  z-index: -5;
  margin-top: 25vw;
}





.video_container_stats {
  width: 100%;
  height: 35vw;
  position: absolute;
  z-index: -15;
  box-shadow: 0px 160px 36px 50px rgb(0, 0, 0);
 /* -webkit-box-shadow: 18px 15px 127px 149px rgba(29,67,166,1);
  -moz-box-shadow: 18px 15px 127px 149px rgba(29,67,166,1);*/












  /*-webkit-box-shadow: 5px -58px 43px 34px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 5px -58px 43px 34px rgba(0, 0, 0, 0.84);
  box-shadow: 5px -58px 43px 34px rgba(0, 0, 0, 0.84);*/
  
}

.stats_video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}




/*.stats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}

.stats_three {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.stats_bg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10vh;
  margin-top: 10vw;
}

.stats_bg_one {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  width: 99vw;
  height: 5vw;
  margin-bottom: -4vw;
}

.stats_bg_digit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}

.p_digit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 2vw;
  font-family: "OpenSans-bold", sans-serif;
  font-size: 4vw;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.5vw;
  padding-left: 5vw;
}

.p_digit_metrika {
  display: flex;
  font-family: "OpenSans-bold", sans-serif;
  font-size: 2vw;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 1vw;
  align-self: flex-end;
}

.stats_bg_video {
  width: 100px;
  height: 100px;


}

.stats_bg_two {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 99vw;  
  height: 60vw;
  background-repeat: no-repeat;
  z-index: -5;
}

.stats_bg {
  justify-content: flex-start
}

.stats_bg_p {
  width: 50%;
  margin-top: 7vw;
  margin-left: 5vw;
}

.p_blue {
  display: flex;
  width: 80%;
  font-family: "OpenSans-bold", sans-serif;
  font-size: 1.2vw;
  color: #025bb5;
  text-transform: uppercase;
  line-height: 1.5vw;
}

.p_white {
  display: flex;
  width: 80%;
  font-family: "OpenSans-bold", sans-serif;
  font-size: 1.2vw;
  color: #F1F6FC;
  text-transform: uppercase;
  line-height: 1.5vw;
}*/

.products_img_title {
  position: absolute;
  background-image: url("../img/products-title-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 23%;
  height: 25vw;
  top: 320vw;
  margin-left: 71vw;
}


#products {
display: flex;
position: relative;
top: 10vw;
}

#about {
  display: flex;
  position: relative;
  top: 70vw;
  }

.products {
  display: flex;
  flex-direction: column;
  margin-top: 80vw;
}

.products_title {
  display: flex;
  position: relative;
  margin-left: 40vw;
}

.product_background_one {
  background-image: url("../svg/bg_products.svg");
  background-size: contain;
  display: flex;
  position: relative;
  width: 99.1vw;
  height: 365vw;
  background-repeat: no-repeat;
  z-index: -5;
}

.product_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 99vw;
  height: 320vw;
}

.product_assistant {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99vw;
  height: 25%;
}

.product_assistant_title {
  width: 99vw;
  margin-top: 5vw;
}

.p_blue_h1 {
  font-family: "OpenSans-bold", sans-serif;
  font-size: 2vw;
  color: #025bb5;
  text-transform: uppercase;
  line-height: 3vw;
}

.p_blue_logo {
  font-family: "OpenSans-regular", sans-serif;
  font-size: 2vw;
  color: #025bb5;
  text-transform: uppercase;
  line-height: 3vw;
  margin-bottom: 8%;
}

.product_assistant_body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 99vw;
  height: 80%;
}

.product_assistant_body_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 70%;
  padding: 5%;
}

.product_assistant_body_text_logo {
  width: 90%;
  height: 100%;
  margin-bottom: 8%;
}

.product_assistant_logo_round {
  width: 50%;
  margin-left: 5%;
}

.product_assistant_logo {
  width: 50%;
  margin-left: 25%;
}

.list_item {
  font-family: "OpenSans-regular", sans-serif;
  font-size: 1vw;
  color: #025bb5;
  text-transform: uppercase;
  line-height: 2vw;
}


.product_assistant_body_img_body_img {
width: 25vw;
margin-top: 10%;
margin-left: 0%;
}

.product_assistant_body_img {
  margin-top: 15%;  
}

.product_master_logo {
  width: 35%;
  margin-left: 33%;
}

.p_blue_logo_master {
  font-family: "OpenSans-regular", sans-serif;
  font-size: 1.5vw;
  color: #025bb5;
  text-transform: uppercase;
  line-height: 2.5vw;
  margin-bottom: 18%;
}

.product_master_body_img_body_img {
  width: 25vw;
  margin-top: 5%;
  margin-left: 0%;
  
}

.product_master_logo_title_img {
  width: 50%;
  margin-top: 5%;
  
}

.operbot_text {
  font-family: "OpenSans-regular", sans-serif;
  font-size: 1vw;
  color: #025bb5;
  text-transform: uppercase;
  line-height: 2vw;
  margin-bottom: 1vw;
}

.product_opebot_body_text_two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list_item_operbot {
  font-family: "OpenSans-regular", sans-serif;
  font-size: 1vw;
  color: #025bb5;
  line-height: 1.5vw;
  margin-bottom: 2vw;
}

.operbot_text_bold {
  font-family: "OpenSans-bold", sans-serif;
  font-size: 1vw;
  color: #025bb5;
  text-transform: uppercase;
  line-height: 2vw;
  margin-bottom: 1vw;
}

.complex_work {
  display: flex;
  width: 99vw;
  height: 20%;
  margin-top: 10vw;
  align-items: center;
  padding-left: 10vw;

}

.complex_work_img {
  width: 80vw;
}



.news_img_title {
  position: absolute;
  background-image: url("../img/news-title-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  height: 25vw;
  top: 740vw;
  margin-left: -60vw;

}

.news {
  display: flex;
  margin-top: 2vw;
  width: 99vw;
  height: 30vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.zaglushka {

  width: 25vw;
  height: auto;
}










.vacancies {
  margin-top: 5vw;
  padding-top: 10vw;
  width: 99vw;
  height: 10vh;
}

.vacancies_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.vacancies_container_img {
  padding-top: 5vh;
  padding-left: 10vw;
  width: 80%;
}

.vacancies_container_img_one {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.vacancies_container_text {
  padding-left: 5vw;
  width: 100%;
}

.p_vacancies {
  font-family: "OpenSans-regular", sans-serif;
  font-size: 1vw;
  color: #ffffff;
  line-height: 1.5vw;
  align-self: flex-start;
  justify-self: flex-start;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 15%;
  text-align: justify; 
}

.vacancies_link {
  font-family: "OpenSans-bold", sans-serif;
  font-size: 1vw;
  color: #77c7f9;
  text-decoration: none;
  line-height: 2vw;
  width: 17vw;
  text-transform: uppercase;

}















































.contacts_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  
}

.h1_contacts_title {
  margin-bottom: 40px;
  padding-top: 160px;
}
  
.contacts {
  width: 99vw;
  height: 30vw;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 3vw;
  background: linear-gradient(180deg, rgba(1, 22, 44, 0.5), rgba(0, 0, 0, 0.5) 50%);
  gap: 5vw;
}

.contacts_adress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  
}

.adress-title {
  font-family: "OpenSans-bold", sans-serif;
  font-size: 1.5vw;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.adress-p  {
  font-family: "OpenSans-regular", sans-serif;
  font-size: 1vw;
  color: #ffffff;
  text-decoration: none;
  line-height: 2vw;
  width: 17vw;
}

.text_color {
  color: #8ea4ec;
}


.to {
  width: 18vw;
  margin-top: 20px;
}

.map-widget {
  border-radius: 30px;
  height: 23vw;
  width: 60vw;
  padding: 10px;
}

.footer-container {
  position: absolute;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; 
  padding-left: 5%;
  padding-right: 5%;
  background: linear-gradient(180deg, rgba(1, 22, 44, 0.5), rgba(0, 0, 0, 0.5) 50%);
  z-index: 100;
}

.logo_white_one {
  width: 50%;
}

.logo_white {
  width: 15vw;
}

.address {
  width: 15vw;
}

.logo_skolcovo_white_buttom  {
  height: 4vw;
}