@media screen and (min-width: 991px) {
    .button_us_mobil {
        display: none;
    }

    .img-logo-mobil {
        display: none;   
    }

    .hamburger-menu {
        display: none;
    }

    .video_container_mobil {
        display: none;

  }

     .video_container_mask_mobil {
      display: none;
  }    

  
    .header_background_mobil_img {
      display: none;
    }

    .mission_mobil_img {
      display: none;
    }

    .partners_img_title_mobil {
      display: none;
    }

    .stats_two_mobil {
      display: none;
    }

    #navcheck {
      display: none;
    }

    .burger {
      display: none;
    }

    .burger_menu_check {
      display: none;
    }

    .certificates {
      display: flex;
      width: 95vw;
      height: 23vw;
      align-self: center;
  }



    

}


@media screen and (max-width: 990px) {

  #navcheck {
    display: none;
  }

  .sk-cube-grid {
    width: 15vw;
    height: 15vw;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #005db6;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  





























    .img-logo {
        display: none;
    }

    .menu-item {
        display: none;
    }

    .button_us {
        display: none;
      }

    .button_us_mobil {
        border: none;
        position: relative;
        width: 18%;
        margin-top: 2px;
        left: 80vw;
        border-radius: 10px;
        background: linear-gradient(180deg, #f6f9ff00, #e5edfb00);
        font-family: "OpenSans-regular", sans-serif;
        font-size: 2.2vw;
        text-align: center;
        color: #ffffff;
        position: fixed;
        z-index: 70;
    }

    .konvert {
      width: 80%;

    }

    .button_us_mobil:hover {
        cursor: pointer;
      }

    .main_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        display: flex; 
        width: 100vw;
        height: 14vw;
        background-repeat: no-repeat;
        flex-direction: row;
        justify-content: space-between;
        background-color: #F1F6FC;
        -webkit-box-shadow: 1px 8px 9px -5px rgba(32, 116, 229, 0.6);
        -moz-box-shadow: 1px 8px 9px -5px rgba(32, 116, 229, 0.6);
        box-shadow: 1px 8px 9px -5px rgba(32, 116, 229, 0.6);
        z-index: 5;
        flex-basis: auto;
    }

    .mission_header {
      display: none;
    }

    .our_principles_header {
      display: none;
    }

    .wrapper {
      display: none;
    }

    .glitch {
      display: none;
    }


    .img-logo-blue-mobil {
        position: absolute;
        width: 12vw;
        left: 44%;
        top: 12%;
    }

    #menu__toggle {
        opacity: 0;
      }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
       #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      






      .menu__btn {
        display: flex;
        position: relative;
        margin-top: -3vw;
        left: 50%;
        width: 7vw;
        height: 30%;
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #264dad;
        transition-duration: .50s;
      }
      .menu__btn > span::before {
        content: '';
        top: -10px;
      }
      .menu__btn > span::after {
        content: '';
        top: 10px;
      }
      
      .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 50vw;
        height: 100%;
        margin: 0;
        padding: 20vw 0;
        list-style: none;
        background-color: rgba(19, 63, 134, 0.67);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.8);
        transition-duration: .25s;
      }
      
      .menu__item {
        display: block;
        padding: 12px 24px;
        font-family: "OpenSans-regular", sans-serif;      
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition-duration: .25s;
        font-size: 3vw;
        line-height: 5vw;
        width: 40vw;
      }

      .menu__item:hover {
        background-color: #CFD8DC;
      }

      .header_background_mobil {
          top: 0px;
          position: relative;
          display: flex;
          
      }

      .header_background_mobil_img {
        width: 100vw;
        height: 100%;

      }



      .header_background_img { 
        display: none;
      }

      .header_background { 
        display: none;
      }

      .logo_skolcovo_around { 
        display: flex;
        position: absolute;
        width: 100px;
        top: 12vh;
        align-self: flex-end;
        margin-left: -70px;
      }

      .video_container_mobil {
            width: 45vw;
            height: 45vw;
            border-radius: 50%;
            position: absolute;
            overflow: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
      }

      .video_container_mask_mobil {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 50%;
            height: 50%;
            background-repeat: no-repeat;
            overflow: hidden;
            left: 45vw;
            top: 35vw;
      }


      .video_container {
            display: none;
     }

      .video_container {
            display: none;
     }


     .mission_mobil_img {
       position: absolute;
       width: 80vw;
       top: 95%;
       left: 10%;
     }

    .main {
      display: flex;
      width: 100%;
      min-height: 1500vw;
      height: 100%;
      margin: auto;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

     .stats_img_title {
       display: none;
     }

     .title_about {
       width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 35%;
    }

    .p_about {
      font-family: "OpenSans-regular", sans-serif;
      font-size: 3vw;
      color: #ffffff;
      line-height: 5vw;
      width: 85vw;
      padding-left: 5%;
      padding-top: 10%;
      text-align: left; 
      height: 40vw;
      text-align:justify;
    }

    .about {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-right: 5%;
      padding-left: 5%; 
      background-size: contain;
      background-repeat: no-repeat; 
      align-items: center; 
    }

    .target-vision-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 80vw;
      top: 110vw;
      margin-left: 5%;
    }
    
    .target-vision {
      height: 60vw;
      margin-top: 180%;
    }

    .partners {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20vw;
    }

    .products_img_title  {
      display: none;
      visibility: hidden;
    }

    .partners_img_title  {
      position: absolute;
      margin-left: 0;
      width: 40%;
      height: 40vw;
      top: 315vw 
    }

    .partners_img_title {
      background-image: url("../img/mobil/partners-title.gif");
      background-size: contain;
      background-repeat: no-repeat;
      width: 50%;
      height: 50vw;
      margin-bottom: 0;
      
    }

    .partners_img {
      margin-top: 5px;
      background-image: url("../img/partners.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 99vw;
      height: 30vw;
    }

    .certificates {
      display: flex;
      width: 95vw;
      height: 23vw;
      align-self: center;
  }

    h1 {
      font-family: "OpenSans-bold", sans-serif;
      font-size: 5vw;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      line-height: 8vw;
    }

    .stats_two {
      display: none;
    }

    .stats_two_mobil {
      margin-top: 40vw;
    }

    .stats_map_mobil {
      position: relative;
      background-image: url("../img/map_regions.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 95vw;
      height: 70vw;
      margin-top: 30px;
      margin-bottom: 50px;
      margin-left: 2%;
    }
    
    
    .stats_chart_mobil {
      position: relative;
      background-image: url("../img/chart-1.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 40vw;
      margin-top: 30px;
      margin-bottom: 20vw;
    }
    


    .stats_two_content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-left: 5%;
    }
    
    .stats_earth {
      display: flex;
      position: absolute;
      width: 31.8vw;
      justify-content: center;
      margin-left: 33.9%;
      z-index: -5;
    }
    
    .stats_map {
      background-image: url("../img/map_regions.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 40vw;
      height: 20vw;
      margin-top: 30px;
      margin-left: 50px;
    }
    
    .stats_two_title {
      display: flex;
      flex-direction: column-reverse;
      width: 80vw;
      justify-content: center;
    }

    .stats_list {
      margin-top: 18%;
      margin-left: 55%;
    }

    .stats_list_vsp {
      margin-left: 40%;
      margin-top: 100%;
    }

    .ul_stats {
      font-family: "OpenSans-regular", sans-serif;
      font-size: 2vw;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      line-height: 3vw;
      text-align: left;
      margin-top: 10px;
    }

    h2 {
      font-family: "OpenSans-bold", sans-serif;
      font-size: 3vw;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      line-height: 3vw;
    }

    .products {
      display: flex;
      flex-direction: column;
      margin-top: 350vw;
    }

    .product_assistant_logo_round {
      display: none
    }

    
    .product_master_logo_title_img {
      display: none
    }

    .map-widget {
      display: none
    }

    .adress-title {
      font-family: "OpenSans-bold", sans-serif;
      font-size: 3vw;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      line-height: 3vw;
    }

    .p_white {
      display: flex;
      width: 80%;
      font-family: "OpenSans-bold", sans-serif;
      font-size: 2vw;
      color: #F1F6FC;
      text-transform: uppercase;
      line-height: 3vw;
    
    }

    .stats_number_top_one {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33%;
      height: 100%;
      gap: 35px;
      margin-top: 50px;
    }


    .p_digit_top {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      height: 2vw;
      font-family: "OpenSans-bold", sans-serif;
      font-size: 9vw;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 1.5vw;
    }
    
    .p_white_top {
      display: flex;
      width: 100%;
      font-family: "OpenSans-bold", sans-serif;
      font-size: 2.5vw;
      color: #F1F6FC;
      text-transform: uppercase;
      line-height: 5vw;
      text-align: center;
    }





    .video_container_stats {
   display: none;
      
    }

    .stats {
      margin-top: 130vw;
    }

    .stats_img {
      position: absolute;
      background-image: url("../img/mobil/stats_mobil.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 190vw;
      z-index: -5;
      margin-left: 25%;
    }

    .stats_earth {
      display: none;
    }

    .stats_earth_title {
      visibility: hidden;
    }

    .counter {
      visibility: hidden;
    }
    
    .news_img_title {
      display: none
    }

    .news_move {
      position: absolute;
      margin-bottom: 170vw;
    }

    .products_title {
      margin:auto
    }

    .p_digit {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      font-family: "OpenSans-bold", sans-serif;
      font-size: 6vw;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 1.5vw;
      padding-left: 5vw;
      margin-bottom: 10%
    }

    .p_blue {
      display: flex;
      width: 80%;
      font-family: "OpenSans-bold", sans-serif;
      font-size: 2vw;
      color: #025bb5;
      text-transform: uppercase;
      line-height: 2.2vw;
    }

    .background_blue {
      position: absolute;
      background-image: url("../svg/background.svg");
      background-size: cover;
      width: 100%;
      height: 350rem;
      z-index: -5;
  }

    .adress-p  {
      font-family: "OpenSans-regular", sans-serif;
      font-size: 3.5vw;
      color: #ffffff;
      text-decoration: none;
      line-height: 7vw;
      width: 85vw;
    }

    .to {
      width: 50vw;
      margin-top: 20px;
  }

    .adress-title {
     display: none 
    }



    .vacancies_container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 10vw;
      margin-top: 60vw;
    }
    
    .contacts_container {
      margin-top: 35vw;
      
    }

    .contacts {
      margin-bottom: 30vw;
      height: 50vw;
    }

    .vacancies {
    
      width: 99vw;
      height: 10vh;
    }

    .p_vacancies {
      font-family: "OpenSans-regular", sans-serif;
      font-size: 3vw;
      color: #ffffff;
      line-height: 4vw;
      align-self: flex-start;
      justify-self: flex-start;
      padding-left: 5%;
      padding-top: 5%;
      padding-right: 10%;
      text-align: justify;
    }

    .vacancies_link {
      font-family: "OpenSans-bold", sans-serif;
      font-size: 3vw;
      color: #77c7f9;
      text-decoration: none;
      line-height: 4vw;
      width: 17vw;
      text-transform: uppercase;
    }

    .vacancies_container_img {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 10%;
      padding-right: 10%;
      object-fit: contain;
      width: 100%;

    }

    .vacancies_container_img_one {
      width: 100%;
      height: 100%;
    }

};













   /* @media screen and (max-width: 990px) and (orientation: landscape) {

      .video_container_mobil {
            width: 10vw;
            height: 10vw;
            border-radius: 50%;
            position: absolute;
            overflow: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
      }

      .video_container_mask_mobil {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 10%;
            height: 10%;
            background-repeat: no-repeat;
            overflow: hidden;
            left: 10vw;
      }
    } */





    input {
      position: fixed;
      opacity: 0;
    }
    
    label {
      position: absolute;
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
    }
    label::before {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(21, 39, 104, 0.656);
      content: "";
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }

    label .burger {
      position: fixed;
      top: 1em;
      left: 1em;
      z-index: 3;
      width: 2em;
      height: 1.5em;
      margin: 0;
      padding: 0;
      transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    label .burger::before,
    label .burger .bar, label .burger::after {
      position: absolute;
      left: 0.5em;
      display: block;
      width: 100%;
      height: 5%;
      background: rgb(1, 0, 78);
      content: "";
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    label .burger .bar {
      top: 44%;
    }
    label .burger::before {
      top: 0;
      transform-origin: top left;
    }
    label .burger::after {
      bottom: 0;
      transform-origin: bottom left;
    }
    
    input:focus + label .burger,
    label:hover .burger {
      opacity: 0.75;
    }
    
    nav {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 2;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      transform: translate3d(0, 0, 0);
      /* material acceleration */
      transform: translateX(-100%);
      will-change: transform;
      transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    nav::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 200%;
      background: #004cff5c;
      content: "";
      transform: skewX(15deg) translateX(-100%);
      transform-origin: bottom left;
      will-change: transform;
      transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    @media (min-width: 40em) {
      nav::before {
        width: 40em;
      }
    }
    nav a {
      margin: 0.5em 0;
      padding: 0.2em 2em;
      font-size: 1.5em;
      color: rgb(0, 1, 59);
      text-decoration: none;
      font-weight: 500;
      transform: translateX(-100%);
      transition: color 0.15s, transform 0.5s;
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
    nav a:nth-child(1) {
      transition-delay: 0s, 100ms;
    }
    nav a:nth-child(2) {
      transition-delay: 0s, 150ms;
    }
    nav a:nth-child(3) {
      transition-delay: 0s, 200ms;
    }
    nav a:nth-child(4) {
      transition-delay: 0s, 250ms;
    }
    nav a:nth-child(5) {
      transition-delay: 0s, 300ms;
    }
    nav a:nth-child(6) {
      transition-delay: 0s, 350ms;
    }
    nav a:hover, nav a:focus {
      color: black;
    }
    
    main {
      overflow: hidden;
    }
    main .content {
      transform: translate3d(0, 0, 0);
      /* material acceleration */
      will-change: transform, filter;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    [id=navcheck]:checked + label::before {
      opacity: 1;
      pointer-events: auto;
    }
    [id=navcheck]:checked + label .burger::before, [id=navcheck]:checked + label .burger::after {
      width: 141.42%;
    }
    [id=navcheck]:checked + label .burger::before {
      transform: rotate(45deg) translateY(-50%);
    }
    [id=navcheck]:checked + label .burger::after {
      transform: rotate(-45deg) translateY(50%);
    }
    [id=navcheck]:checked + label .burger .bar {
      transform: scale(0.1);
    }
    [id=navcheck]:checked ~ nav {
      transform: translateX(0);
    }
    [id=navcheck]:checked ~ nav::before {
      transform: skewX(15deg) translateX(0);
    }
    [id=navcheck]:checked ~ nav a {
      transform: translateX(0);
    }
    [id=navcheck]:checked ~ main .content {
      transform: translateX(3em);
      transform-origin: left center;
      filter: blur(2px);
    }
    
    /* helper */
    .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    