@media screen and (min-width: 991px) {
    .button_us_mobil {
        display: none;
    }

    .img-logo-mobil {
        display: none;   
    }

    .hamburger-menu {
        display: none;
    }

    .video_container_mobil {
        display: none;

  }

     .video_container_mask_mobil {
      display: none;
  }    

  
    .header_background_mobil_img {
      display: none;
    }

    .mission_mobil_img {
      display: none;
    }

    .partners_img_title_mobil {
      display: none;
    }


}


@media screen and (max-width: 990px) {
    .img-logo {
        display: none;
    }

    .menu-item {
        display: none;
    }

    .button_us {
        display: none;
      }

    .button_us_mobil {
        border: none;
        position: relative;
        width: 15%;
      
        margin-top: 2px;
        left: 82vw;
        border-radius: 10px;
        background: linear-gradient(180deg, #0a2f72, #3f67b8);
        font-family: "OpenSans-regular", sans-serif;
        font-size: 2.2vw;
        text-align: center;
        color: #ffffff;
        position: fixed;
        z-index: 70;
    }

    .konvert {
      width: 90%;

    }

    .button_us_mobil:hover {
        cursor: pointer;
      }

    .main_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        display: flex; 
        width: 100vw;
        height: 15vw;
        background-repeat: no-repeat;
        flex-direction: row;
        justify-content: center;
        background-color: #F1F6FC;
        -webkit-box-shadow: 1px 8px 9px -5px rgba(32, 116, 229, 0.6);
        -moz-box-shadow: 1px 8px 9px -5px rgba(32, 116, 229, 0.6);
        box-shadow: 1px 8px 9px -5px rgba(32, 116, 229, 0.6);
        z-index: 5;
        flex-basis: auto;
    }

    .mission_header {
      display: none;
    }

    .our_principles_header {
      display: none;
    }

    .wrapper {
      display: none;
    }

    .glitch {
      display: none;
    }


    .img-logo-blue-mobil {
        position: absolute;
        width: 12vw;
        left: 42.5%;
        top: 12%;
    }

    #menu__toggle {
        opacity: 0;
      }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      
      .menu__btn {
        display: flex;
        position: relative;
        margin-top: -3vw;
        left: 50%;
        width: 7vw;
        height: 30%;
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #264dad;
        transition-duration: .50s;
      }
      .menu__btn > span::before {
        content: '';
        top: -10px;
      }
      .menu__btn > span::after {
        content: '';
        top: 10px;
      }
      
      .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 50vw;
        height: 100%;
        margin: 0;
        padding: 20vw 0;
        list-style: none;
        background-color: rgba(19, 63, 134, 0.67);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.8);
        transition-duration: .25s;
      }
      
      .menu__item {
        display: block;
        padding: 12px 24px;
        font-family: "OpenSans-regular", sans-serif;      
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition-duration: .25s;
        font-size: 3vw;
        line-height: 5vw;
        width: 40vw;
      }

      .menu__item:hover {
        background-color: #CFD8DC;
      }

      .header_background_mobil {
          top: 0px;
          position: relative;
          display: flex;
          
      }

      .header_background_mobil_img {
        width: 100vw;
        height: 100%;

      }



      .header_background_img { 
        display: none;
      }

      .header_background { 
        display: none;
      }

      .logo_skolcovo_around { 
        display: flex;
        position: absolute;
        width: 100px;
        top: 12vh;
        align-self: flex-end;
        margin-left: -70px;
      }

      .video_container_mobil {
            width: 45vw;
            height: 45vw;
            border-radius: 50%;
            position: absolute;
            overflow: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
      }

      .video_container_mask_mobil {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 50%;
            height: 50%;
            background-repeat: no-repeat;
            overflow: hidden;
            left: 45vw;
            top: 35vw;
      }


      .video_container {
            display: none;
     }

      .video_container {
            display: none;
     }


     .mission_mobil_img {
       position: absolute;
       width: 80vw;
       top: 95%;
       left: 10%;
     }

     .stats_img_title {
       display: none;
     }

     .title_about {
       width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 35%;
    }

    .p_about {
      font-family: "OpenSans-regular", sans-serif;
      font-size: 3vw;
      color: #ffffff;
      line-height: 5vw;
      width: 85vw;
      padding-left: 5%;
      padding-top: 10%;
      text-align: left; 
      height: 40vw;
    }

    .about {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-right: 5%;
      padding-left: 5%; 
      background-size: contain;
      background-repeat: no-repeat; 
      align-items: center; 
    }

    .target-vision-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 80vw;
      top: 110vw;
      margin-left: 5%;
    }
    
    .target-vision {
      height: 60vw;
      margin-top: 180%;
    }

    .partners {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20vw;
    }

    .products_img_title  {
      display: none;
    }

    .partners_img_title  {
      position: absolute;
      margin-left: 0;
      width: 40%;
      height: 40vw;
      top: 315vw 
    }

    .partners_img_title {
      background-image: url("../img/mobil/partners-title.gif");
      background-size: contain;
      background-repeat: no-repeat;
      width: 50%;
      height: 50vw;
      margin-bottom: 0;
      
    }

    .partners_img {
      margin-top: 5px;
      background-image: url("../img/partners.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 99vw;
      height: 30vw;
    }

    h1 {
      font-family: "OpenSans-bold", sans-serif;
      font-size: 5vw;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      line-height: 8vw;
    }

    .stats_two {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 150vw;
    }


    .stats_two_content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-left: 5%;
    }
    
    .stats_earth {
      display: flex;
      position: absolute;
      width: 31.8vw;
      justify-content: center;
      margin-left: 33.9%;
      z-index: -5;
    }
    
    .stats_map {
      background-image: url("../img/map_regions.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 40vw;
      height: 20vw;
      margin-top: 30px;
      margin-left: 50px;
    }
    
    .stats_two_title {
      display: flex;
      flex-direction: column-reverse;
      width: 80vw;
      justify-content: center;
    }

    .stats_list {
      margin-top: 18%;
      margin-left: 55%;
    }

    .stats_list_vsp {
      margin-left: 45%;
      margin-top: 82%;
    }

    .ul_stats {
      font-family: "OpenSans-regular", sans-serif;
      font-size: 3vw;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      line-height: 4vw;
      text-align: left;
      margin-top: 20px;
    }

    h2 {
      font-family: "OpenSans-bold", sans-serif;
      font-size: 3vw;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      line-height: 3vw;
    }

    .products {
      display: flex;
      flex-direction: column;
      margin-top: 180vw;
    }

    .product_assistant_logo {
      display: none
    }

    
    .product_master_logo_title_img {
      display: none
    }

    .map-widget {
      display: none
    }

    .adress-title {
      font-family: "OpenSans-bold", sans-serif;
      font-size: 3vw;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      line-height: 3vw;
    }

    .stats_img {
      position: absolute;
      background-image: url("../img/mobil/stats_mobil.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 190vw;
      z-index: -5;
      margin-left: 25%;
    }

    .stats_earth {
      display: none;
    }

    .stats_earth_title {
      visibility: hidden;
    }

    .counter {
      visibility: hidden;
    }
    
    .news_img_title {
      display: none
    }

    .products_title {
      margin:auto
    }

    .p_digit {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      font-family: "OpenSans-bold", sans-serif;
      font-size: 6vw;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 1.5vw;
      padding-left: 5vw;
      margin-bottom: 10%
    }

    .p_blue {
      display: flex;
      width: 80%;
      font-family: "OpenSans-bold", sans-serif;
      font-size: 2vw;
      color: #025bb5;
      text-transform: uppercase;
      line-height: 2.2vw;
    }

    .adress-p  {
      font-family: "OpenSans-regular", sans-serif;
      font-size: 3.5vw;
      color: #ffffff;
      text-decoration: none;
      line-height: 7vw;
      width: 85vw;
    }

    .to {
      width: 50vw;
      margin-top: 20px;
  }

    .adress-title {
     display: none 
    }

    .vacancies_container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 10vw;
      margin-top: 65vw;
    }
    
    .contacts_container {
      margin-top: 140vw
    }

    .vacancies {
      margin-top: 70vw;
      
      width: 99vw;
      height: 10vh;
    }

    .p_vacancies {
      font-family: "OpenSans-regular", sans-serif;
      font-size: 3vw;
      color: #ffffff;
      line-height: 4vw;
      align-self: flex-start;
      justify-self: flex-start;
      padding-left: 5%;
      padding-top: 5%;
      padding-right: 15%;
      text-align: left; 
    }

    .vacancies_link {
      font-family: "OpenSans-bold", sans-serif;
      font-size: 3vw;
      color: #77c7f9;
      text-decoration: none;
      line-height: 4vw;
      width: 17vw;
      text-transform: uppercase;
    }

    .vacancies_container_img {
    
      border-radius: 150px;
      width: 100%;
      height: auto
    }

};













   /* @media screen and (max-width: 990px) and (orientation: landscape) {

      .video_container_mobil {
            width: 10vw;
            height: 10vw;
            border-radius: 50%;
            position: absolute;
            overflow: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
      }

      .video_container_mask_mobil {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 10%;
            height: 10%;
            background-repeat: no-repeat;
            overflow: hidden;
            left: 10vw;
      }
    } */



























    
